@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
html {
  scroll-behavior: smooth;
}

body {
    background-color: #131312;
}


.stroke-text {
    -webkit-text-stroke: 1px #0D9488;
    -webkit-text-fill-color: transparent;
  }
  
  /* Apply smaller stroke on smaller screens */
  @media (max-width: 768px) {
    .stroke-text {
      -webkit-text-stroke: 0.9px #0D9488;
      -webkit-text-fill-color: transparent;
    }
  }

/* Fonts */

@font-face {
  font-family: 'Orelega One';
  src: url('./assets/fonts/OrelegaOne-Regular.ttf') format('truetype'); /* Correct format */
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.custom-font {
  font-family: 'Orelega One', sans-serif;
}

@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/Inter_18pt-Bold.ttf') format('truetype'); /* Correct format */
  font-weight: bold;
  font-style: normal; /* Fixed */
  font-display: swap;
}

.inter {
  font-family: 'Inter', sans-serif;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
.scrollbar-hidden {
  scrollbar-width: none;
}

/* Hide scrollbar for IE/Edge */
.scrollbar-hidden {
  -ms-overflow-style: none;
}